<%- layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
    <form action="/Hotspots/viewspot/<%=spot._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input value="<%=spot.name%>" name="spot[name]" type="text" class="form-control" id="name" placeholder="Username">
            <label for="name">Spot Name</label>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=spot.location%>" name="spot[location]" type="text" class="form-control" id="location">
            <label for="location">Location</label>
        </div>
        <div class="form-floating mb-3">
            <select name="spot[Type]" class="form-select" id="Type" aria-label="Floating label select example">
                <option selected>Think of something later</option>
                <option value="Bar/Pub">Bar/Pub</option>
                <option value="Scenic">Scenic</option>
                <option value="Monumnetal">Monumental</option>
            </select>
            <label for="Type">Works with selects</label>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input value="<%=spot.price%>" name="spot[price]" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
        </div>
        <div class="form-floating mb-3">
            <textarea name="spot[description]" class="form-control" placeholder="Leave a comment here" id="description">
                <%=spot.description%>
            </textarea>
            <label for="description">Description</label>
        </div>
        <div class="input-group mb-3">
            <span>Add More Images...</span>
            <input type="file" class="form-control" id="images" name="images" multiple>
            <label class="input-group-text" for="images">Upload</label>
          </div>
        <div class="mb-3">
            <% spot.images.forEach(function(img,i){ %>
            <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
            <div class="form-check-inline">
                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
            </div>
            <label for="image-<%=i%>">Delete?</label>
            <% }) %>
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Update Spot</button>
        </div>
    </form>
    <a href="/Hotspots/viewspot/<%=spot._id%>">Back To Spot</a>
</div>
</div>